@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body {
    font-family: 'Titillium Web', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1000px;
    margin: 40px auto 0 auto;
}

ul.list li {
    padding: 10px;
}

    ul.list li:first-child {
        background-color: #008080;
        color: #fff0f5;
    }

    ul.list li div {
        display: inline-block;
        width: 160px;
        text-align: center;
    }

.paging {
    border: 1px solid #008b8b;
    border-radius: 2px;
    text-align: center;
}

    .paging ul li.hide {
        display: none;
    }

    .paging ul li.active a {
        border: 1px solid #008080;
        background-color: #008b8b;
        color: #fff;
        margin: 3px;
        border-radius: 2px;
        padding: 10px;
    }

        .paging ul li.active a:hover {
            color: #ffffff;
            background-color: #008080;
        }

    .paging ul li {
        padding: 10px 0;
        display: inline-block;
    }

        .paging ul li a {
            color: #555;
            padding: 10px;
        }

            .paging ul li a:hover {
                color: #ffffff;
                background-color: #008080;
                padding: 10px;
            }
